input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.date-fields {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.submit-button {
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separation {
  place-self: center;
}

form {
  width: 30%;
}

.alert {
  margin-top: 20px;
}
